<% include ./partials/header %>
<h1>index page</h1>
<% blogs.forEach( function(blog) {  %>
<h4><%= blog.title %></h4>
<span><%= blog.created %></span>
<p><%= blog.body.subString(0,100) %>...</p>
<a href="/blogs/<%= blog._id %>">Read More</a>

<img src="<%= blog.image %>">

<% }); %>

<% include ./partials/footer %>